/*strip1 #244F75
s2 #60BFBF
s3 #8C4B7E
s4 #F8BB44
s5 #F24B4B*/
html, body {
  height: 100%; }

.strips {
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.strip__strip {
  min-height: 100vh;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center; }

.strip__content {
  min-height: 100vh;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.strip__title {
  text-align: center; }

.strip__strip:nth-child(1) {
  background: #244F75; }

.strip__strip:nth-child(2) {
  background: #60BFBF; }

.strip__strip:nth-child(3) {
  background: #8C4B7E; }

.strip__strip:nth-child(4) {
  background: #F8BB44; }

.strip__strip:nth-child(5) {
  background: #F24B4B; }
