/*verify white margin of stripes*/
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

.strips {
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  color: black; }

.strip__strip {
  position: absolute;
  min-height: 100vh;
  width: 20%;
  overflow: hidden; }

.strip__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.strip__title {
  text-align: center;
  font-size: 3.5vw; }

.strip__strip:nth-child(1) {
  background: #244F75; }

.strip__strip:nth-child(2) {
  background: #60BFBF; }

.strip__strip:nth-child(3) {
  background: #8C4B7E; }

.strip__strip:nth-child(4) {
  background: #F8BB44; }

.strip__strip:nth-child(5) {
  background: #F24B4B; }

.strip__strip:nth-child(1) {
  left: 0vw; }

.strip__strip:nth-child(2) {
  left: 20vw; }

.strip__strip:nth-child(3) {
  left: 40vw; }

.strip__strip:nth-child(4) {
  left: 60vw; }

.strip__strip:nth-child(5) {
  left: 80vw; }
