@import 'variables';
@import 'mixins';

/*verify white margin of stripes*/ 

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.strips {
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    color: black;
}

.strip {
    &__strip {
        position: absolute;
        min-height: 100vh;
        width: 20%;
        overflow: hidden;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        text-align: center;
        font-size: 3.5vw;
    }
}



@for $i from 1 through length($colors) {
    .strip__strip:nth-child(#{$i}) {
        background: nth($colors, $i);
    }
}

@for $i from 0 through 4 {
    .strip__strip:nth-child(#{$i+1}) {
        left: $i*20vw;
    }
}




