@import 'variables';
@import 'mixins';

/*verify white margin of stripes*/ 

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.strips {
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    color: black;
}

.strip {
    &__strip {
        position: absolute;
        min-height: 100vh;
        width: 20%;
        overflow: hidden;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: white;
          opacity: 0.05;
          transform: skew(30deg) scaleY(1) translate(0,0);
          transform-origin: center-center;
        }

        &:hover::before {
          transform: skew(0deg) scale(3) translate(0,0);
          opacity:0.1;
        }
    }

    


    &__title {
        font-size: 3.5vw;
    }
}

@keyframes strip1 {
    from {
      transform: translate3d(-100%, 0, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes strip2 {
    from {
      transform: translate3d(0, 100%, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes strip3 {
    from {
      transform: translate3d(0, -100%, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes strip4 {
    from {
      transform: translate3d(0, 100%, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes strip5 {
    from {
      transform: translate3d(100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@for $i from 1 through length($colors) {
    .strip__strip:nth-child(#{$i}) {
        background: nth($colors, $i);
        animation: strip#{$i} 1s ease-in-out 0.4s;
    }
}

@for $j from 0 through 4 {
    .strip__strip:nth-child(#{$j+1}) {
        left: $j*20vw;
    }
}






