@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.strips {
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
}

.strip {
    &__strip { /*container for colored strips*/
      position: absolute;
      min-height: 100vh;
      width: 20%;
      overflow: hidden;
      cursor: pointer;
    }

    &__content { /*colored strip and container for text*/
      @include positionAbsFull; /*gives positioning (top and left), height and width*/
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: ''; /*property content is necessary to view the pseudo element*/
        @include positionAbsFull;
        z-index: 1; /*places skewed white strip in front of color*/
        background-color: white;
        opacity: 0.05; /*makes the strip transparent*/
        transform: skew(30deg) scaleY(1) translate(0,0); /*places skewed white strip in right positioning*/         
        transform-origin: center-center;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); /*ensures the transition when hovering is smooth*/
        }

        &:hover::before {
          transform: skew(0deg) scale(3) translate(0,0); /*hides the white skewed strip when hovering, shading the vertical strip*/
          opacity:0.1;
        }
    }

    &__title {
      font-size: 3.5vw;
      font-weight: 300;
      font-family: 'Lato', sans-serif;
      color: white;
    }

    &__title h1{
      margin: 0 0 16px;
    }
}

/*animations on colored strips, triggered on page load*/
@-webkit-keyframes strip1 {
    from {
      transform: translate3d(-100%, 0, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes strip1 {
    from {
      transform: translate3d(-100%, 0, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@-webkit-keyframes strip2 {
    from {
      transform: translate3d(0, 100%, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes strip2 {
    from {
      transform: translate3d(0, 100%, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@-webkit-keyframes strip3 {
    from {
      transform: translate3d(0, -100%, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes strip3 {
    from {
      transform: translate3d(0, -100%, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@-webkit-keyframes strip4 {
    from {
      transform: translate3d(0, 100%, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes strip4 {
    from {
      transform: translate3d(0, 100%, 0) ;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@-webkit-keyframes strip5 {
    from {
      transform: translate3d(100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes strip5 {
    from {
      transform: translate3d(100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

/*iteration assigning corresponding background and animation to each strip*/
@for $i from 1 through length($colors) {
    .strip__strip:nth-child(#{$i}) { /*assign to class .strip__strip because .strip__content is always an only child*/
        background: nth($colors, $i);
        @include animationIn($i);
    }
}

/*iteration assigning correct positioning to each strip*/
@for $j from 0 through 4 {
    .strip__strip:nth-child(#{$j+1}) {
        @include leftPositioning($j);
    }
}






